<footer>
    <h6 id="copyright" class="text-secondary text-center my-0">ADad</h6>
</footer>

<script>
    text = document.getElementById("copyright");

    const d = new Date();
    let year = d.getFullYear();

    text.innerHTML = "Copyright Tanmay&#169; " + year;
</script>