<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Computer Lab Stock</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <style>
      body {
        font-family: 'Poppins', sans-serif;
      }

      #Login {
        height: 100dvh;
      }

      .login {
        height: 70vh;
        width: 55vw;
        background-color: rgb(63, 63, 63);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 12px;
      }
    </style>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div id="Login" class="d-flex justify-content-center align-items-center">
      <div class="login d-flex flex-md-column text-center py-5 my-auto">
        <h1 class="text-white">Login</h1>
        <form class="my-3 d-flex flex-column" action="/stock" method="POST">
            <% if (error) { %>
                <h6 class="text-danger"><em>Username or Password was wrong</em></h6>
                <% } %>
                    <div>
                        <input name="username" class="bg-dark text-white rounded fw-bold" type="text" placeholder="Username">
                        <input name="password" class="bg-dark text-white rounded fw-bold" type="password"
                            placeholder="Password">
                    </div>
                    <button class="bg-dark my-3 rounded text-white fw-bold" type="submit">Login</button>
        </form>
      </div>
    </div>


        <%- include('footer') %>
  </body>
</html>
